

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: crimson;
  width: 40px;
}

::-webkit-scrollbar-track {
  background: #000; /* Cor do fundo da barra de rolagem */
}


::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem vertical */
  height: 12px; /* Altura da barra de rolagem horizontal */
}


::-webkit-scrollbar-thumb {
  background: #DC143C; /* Cor da barra de rolagem */
  border-radius: 2px; /* Borda arredondada */
}

